<html ng-app="PeopleList">
		<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<title>iBeacon AutoCheckIn-Chat</title>
				<% include require.ejs %>
				<style>
						html { overflow-y:scroll; }
						body { padding-top:50px; }
						#student-list { margin-bottom:30px; padding-top:20px;}
						#student-form  { margin-bottom:50px; }
				</style>
				<% include header.ejs %>
				<script src="core.js"></script>
		</head>

		<body ng-controller="mainController">
			<div id="student-list" class="row">
			<div class="col-md-12 col-md-offset-4">

		   <div class="middle_container">
<!--                    <div class="row">-->
                        <!--chat_box-->
                        <div class="col-lg-12 col-lg-12 col-lg-12 col-lg-4 left_box">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    chat
                                    <span class="glyphicon glyphicon-comment"></span>
                                </div>
                                <div class="panel-body chat_box" id="chat_box_outer">
                                    <ul class="chat_box_inner" id="ListenChat">

                                    </ul>
                                </div>
                                <div class="panel-footer chat_message_input">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="send_chat()">
                                                Send</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--chart_box-->
                        <div class="col-lg-12 col-lg-12 col-lg-12">
                            <div class="chart_box"></div>
                        </div>
<!--                    </div>-->
                </div>

			</div>
		</div>
  <script >
            function send_chat(){
						var text = $('#btn-input').val();

                socket.emit('chat', { 'kStuId':'admin', 'message': text});


                var e = $('<li class="my_chat">'+
                            '<div class="chat-body clearfix">'+
                                '<div class="chat_id">'+
                                '<small class=" text-muted">'+
                                    '<span class="glyphicon glyphicon-time"></span>'+getDateTime()+
                                    '</small>'+
                                    '<strong class="pull-right primary-font">Me</strong>'+
                                '</div>'+
                                '<p>'+text+'</p>'+
                            '</div>'+
                        '</li>');
                $('#ListenChat').append(e);
					$('#btn-input:text').val('');
				   $("#btn-input:text").focus();
				var objDiv = document.getElementById("chat_box_outer");
                objDiv.scrollTop = objDiv.scrollHeight;
            }

        </script>
</body>

</html>
