<html ng-app="PeopleList">
		<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<title>iBeacon AutoCheckIn-Chat-<%= UserName %></title>
				<% include require.ejs %>
				<style>
						html { overflow-y:scroll; }
						body { padding-top:50px; }
						#student-list { margin-bottom:30px; padding-top:20px;}
						#student-form  { margin-bottom:50px; }
				</style>
				<% include header.ejs %>
				<script src="core.js"></script>
				<div id="User" style="visibility:hidden"><%= UserName %></div>
		</head>

		<body ng-controller="mainController"  data-ng-init="getChat()">



			<div id="chat-list" class="row">
			<div class="col-md-12 col-md-offset-4">

		   <div class="middle_container">
				<!--
						<tr class="chattr" ng-repeat="chat in chats">
							<td> {{ chat.content }}</td>

							var e = $('<div class="my_chat">'+
													'<div class="chat-body clearfix" style="background-color:#00bfff;border-radius:15px;">'+
															'<div class="chat_id">'+
															'<small class=" text-muted" style="margin-left:10px">'+
																	'<span class="glyphicon glyphicon-time"></span>'+getDateTime()+
																	'</small>'+
																	'<strong class="pull-right primary-font" style="margin-right:10px">Me</strong>'+
															'</div>'+
															'<pi style="margin-left:10px">'+text+'</p>'+
													'</div>'+
											'</div><br>');
							$('#ListenChat').append(e);

						</tr>
					-->
                        <div class="col-lg-12 col-lg-12 col-lg-12 col-lg-4 left_box">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Question
                                    <span class="glyphicon glyphicon-comment"></span>
                                </div>
                                <div class="panel-body chat_box" id="chat_box_outer">
                                    <ul class="chat_box_inner" id="ListenChat">

                                    </ul>
                                </div>
                                <div class="panel-footer chat_message_input">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Input text here...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="send_chat()">
                                                Send</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-lg-12 col-lg-12">
                            <div class="chart_box"></div>
                        </div>
          </div>

			</div>
		</div>


  <script >
            function send_chat(){
						var text = $('#btn-input').val();
								var user = document.getElementById("User");
                socket.emit('chat', { 'kStuId':	user.innerHTML, 'message': text});

                var e = $('<div class="my_chat">'+
                            '<div class="chat-body clearfix" style="background-color:#00bfff;border-radius:15px;">'+
                                '<div class="chat_id">'+
                                '<small class=" text-muted" style="margin-left:10px">'+
                                    '<span class="glyphicon glyphicon-time"></span>'+getDateTime()+
                                    '</small>'+
                                    '<strong class="pull-right primary-font" style="margin-right:10px">Me</strong>'+
                                '</div>'+
                                '<pi style="margin-left:10px">'+text+'</p>'+
                            '</div>'+
                        '</div><br>');
                $('#ListenChat').append(e);
					$('#btn-input:text').val('');
				   $("#btn-input:text").focus();

								var objDiv = document.getElementById("chat_box_outer");
                objDiv.scrollTop = objDiv.scrollHeight;
            }

        </script>
</body>

</html>
