<html ng-app="PeopleList">
		<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<title>iBeacon AutoCheckIn-Admin</title>
				<% include require.ejs %>
				<style>
						html { overflow-y:scroll; }
						body { padding-top:50px; }
						#student-list { margin-bottom:30px; padding-top:20px;}
						#student-form  { margin-bottom:50px; }
				</style>
				<% include header.ejs %>
				<script src="core.js"></script>
		</head>

		<body ng-controller="mainController">
			<div id="student-list" class="row">
			<div class="col-xs-6 col-sm-offset-4">

		<table class="table table-bordered">
				<thead>
				    <tr>
				        <th>
				        學號
				        </th>
								<th>
								姓名
								</th>
								<th>
								出席
								</th>
								<th>
								出席時間
								</th>
								<th>
								離開時間
								</th>
								<th>
								位置
								</th>
								<th>
								鎖定
								</th>
								<th>
									刪除
								</th>
				    </tr>
				</thead>
				<tbody>
				    <tr ng-repeat="student in students">
				        <td>
									{{ student.stu_id }}
								</td>
								<td>
									{{ student.name}}
								</td>
								<td>
									<p ng-style="come.style" ng-click="changeStudent(student.stu_id)">{{  comeColor(student.come) }}</p><br><br>
								</td>
								<td>
									<div class="text" ng-repeat="intime in student.in">{{ intime | date:'HH:mm:ss'}}</div><br><br>
								</td>
								<td>
									<div class="text" ng-repeat="outtime in student.out">{{ outtime | date:'HH:mm:ss'}}</div><br><br>
								</td>
								<td>
									<p><div id="{{student.stu_id}}">未知</div></p><br><br>
								</td>
								<td>
									<p ng-style="lock.style" ng-click="lockStudent(student.stu_id)">{{ lockColor(student.lock) }}</p><br><br>
								</td>
								<td>
									<div class="delete" ng-click="deleteStudent(student.stu_id)">刪除</div><br><br>
								</td>
				    </tr>
				</tbody>



			</div>
		</div>
</body>

</html>
