<html ng-app="SystemConf">
<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<title><%= title%></title>
				<% include require.ejs %>
				<style>
						html { overflow-y:scroll; }
						body { padding-top:50px; }
						#student-list { margin-bottom:30px; padding-top:20px;}
						#student-form  { margin-bottom:50px; }
				</style>
				<% include header.ejs %>
				<script src="config.js"></script>
</head>

<body ng-controller="SystemConfController" data-ng-init="getAllData()">
<br>
<h3>StudentList</h3>
{{ list }}
<hr>
<h3>Chat history</h3>
{{ chats }}
<hr>
<h3>Beacon</h3>
{{ beaconConf }}
<hr>
</body>

</html>
